In [26]:

from sklearn.metrics import *
from sklearn.model_selection import KFold , cross_val_score, cross_validate, GridSearchCV
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
import time
from sklearn.linear_model import LogisticRegression
from sklearn import svm

In [27]:
import os
import mglearn
import pandas as pd
adult = pd.read_csv(
    os.path.join(mglearn.datasets.DATA_PATH, "adult.data"), header=None, index_col=False,
    names=['age', 'workclass', 'fnlwgt', 'education',  'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'gender',
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
           'income'])

adult.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [29]:
mask = adult['workclass'].isin(['?'])

In [30]:
df1 = adult[~mask]

In [48]:
df1['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [ ]:
features = adult_dummies.loc[:,'age':'native-country_ Yugoslavia']

In [ ]:
#LogisticRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
LoRg = LogisticRegression(solver='liblinear')
LoRg.fit(X_train, y_train)
print("테스트 점수: {:.4f}".format(LoRg.score(X_test, y_test)))

In [ ]:
LoRg.fit(X_train,y_train)

mypredictions = LoRg.predict(X_test)

In [ ]:
print('LoRg의 정확도는:{0:.4f}'.format(accuracy_score(y_test, mypredictions)))
print("LoRg의 F1스코어:{0:.4f}".format(f1_score(y_test, mypredictions)))
print("LoRg의 정밀도는:{0:.4f}".format(precision_score(y_test,mypredictions)))
print('LoRg의 재현율은:{0:.4f}'.format(recall_score(y_test, mypredictions)))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5)

In [ ]:
clf = svm.SVC(gamma=0.003,C=150)
clf.fit(X_train, y_train)
pred = clf.predict(X_test)

In [ ]:
print('SVM의 정확도는:{0:.4f}'.format(accuracy_score(y_test, pred)))
print("SVM의 F1스코어:{0:.4f}".format(f1_score(y_test, pred)))
print("SVM의 정밀도는:{0:.4f}".format(precision_score(y_test,pred)))
print('SVM의 재현율은:{0:.4f}'.format(recall_score(y_test, pred)))

In [ ]:
dT_clf = DecisionTreeClassifier(random_state = 30)
dT_clf.fit(X_train, y_train)
pred_dt = dT_clf.predict(X_test)

In [ ]:
print('DecisionTree의 정확도는:{0:.4f}'.format(accuracy_score(y_test, pred_dt)))
print("DecisionTree의 F1스코어:{0:.4f}".format(f1_score(y_test, pred_dt)))
print("DecisionTree의 정밀도는:{0:.4f}".format(precision_score(y_test,pred_dt)))
print('DecisionTree의 재현율은:{0:.4f}'.format(recall_score(y_test, pred_dt)))

In [ ]:
params = {
    'max_depth':[2,4,6,8.10,12,16,20,24]
}
grid_cv = GridSearchCV(dT_clf, param_grid=params,scoring='accuracy',cv=5,verbose=1)
grid_cv.fit(X_train, y_train)
print('Grid 평균 정확도:{0:.f4}',format(grid_cv.best_score_))
print("Grid 최적 파라미터:", grid_cv.best_params_)